[submodule "kie-uberfire-extensions"]
	path = kie-uberfire-extensions
	url = https://github.com/kiegroup/kie-uberfire-extensions
	branch = master
	ignore = all
[submodule "droolsjbpm-integration"]
	path = droolsjbpm-integration
	url = https://github.com/kiegroup/droolsjbpm-integration
	branch = master
	ignore = all
[submodule "kie-wb-common"]
	path = kie-wb-common
	url = https://github.com/kiegroup/kie-wb-common
	branch = master
	ignore = all
[submodule "drools-wb"]
	path = drools-wb
	url = https://github.com/kiegroup/drools-wb
	branch = master
	ignore = all
[submodule "jbpm-designer"]
	path = jbpm-designer
	url = https://github.com/kiegroup/jbpm-designer
	branch = master
	ignore = all
[submodule "optaplanner-wb"]
	path = optaplanner-wb
	url = https://github.com/kiegroup/optaplanner-wb
	branch = master
	ignore = all
[submodule "kie-wb-distributions"]
	path = kie-wb-distributions
	url = https://github.com/kiegroup/kie-wb-distributions
	branch = master
	ignore = all
[submodule "guvnor"]
	path = guvnor
	url = https://github.com/kiegroup/guvnor
	branch = master
	ignore = all
[submodule "jbpm-wb"]
	path = jbpm-wb
	url = https://github.com/kiegroup/jbpm-wb
	branch = master
	ignore = all
[submodule "errai"]
	path = errai
	url = https://github.com/errai/errai
	branch = master
	ignore = all
[submodule "droolsjbpm-knowledge"]
	path = droolsjbpm-knowledge
	url = https://github.com/kiegroup/droolsjbpm-knowledge
	branch = master
	ignore = all
[submodule "droolsjbpm-build-bootstrap"]
	path = droolsjbpm-build-bootstrap
	url = https://github.com/kiegroup/droolsjbpm-build-bootstrap
	branch = master
	ignore = all
[submodule "drools"]
	path = drools
	url = git@github.com:kiegroup/drools.git
	branch = master
	ignore = all
[submodule "jbpm"]
	path = jbpm
	url = git@github.com:kiegroup/jbpm.git
	branch = master
  ignore = all
[submodule "droolsjbpm-tools"]
	path = droolsjbpm-tools
	url = git@github.com:kiegroup/droolsjbpm-tools.git
	branch = master
  ignore = all
[submodule "optaplanner"]
	path = optaplanner
	url = git@github.com:kiegroup/optaplanner.git
	branch = master
  ignore = all
[submodule "kie-soup"]
	path = kie-soup
	url = git@github.com:kiegroup/kie-soup.git
	branch = master
  ignore = all
[submodule "appformer"]
	path = appformer
	url = git@github.com:kiegroup/appformer.git
  branch = master
  ignore = all
[submodule "drlx-parser"]
	path = drlx-parser
	url = git@github.com:kiegroup/drlx-parser.git
  branch = master
  ignore = all
